---
//Layaout
import Layout from '../layouts/Layout.astro';
//Components
import Nav from '../components/Nav.astro';
//Sections
import Home from '../sections/Home.astro';
import WhoIsShe from '../sections/WhoIsShe.astro';
import Achievements from '../sections/Achievements.astro';
import History from '../sections/History.astro';
import Phrases from '../sections/Phrases.astro';
import Books from '../sections/Books.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Sor Juana Inés de la Cruz">
	<header>
		<Nav/>
		<Home/>
	</header>
	<main class="my-28 space-y-6">
		<WhoIsShe/>
		<section class="grid gap-6 xl:grid-cols-2">
			<History/>
			<Achievements/>
		</section>
		<Phrases/>
		<Books/>
	</main>
	<Footer/>
</Layout>	
