---
//Layaout
import Layout from '../layouts/Layout.astro';
//Components
import Nav from '../components/Nav.astro';
//Sections
import WhoIsShe from '../sections/WhoIsShe.astro';
import Achievements from '../sections/Achievements.astro';
import History from '../sections/History.astro';
import Home from '../sections/Home.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<Nav/>
		<Home/>
	</header>
	<main class="my-28 space-y-6">
		<WhoIsShe/>
		<section class="grid gap-6 xl:grid-cols-2">
			<History/>
			<Achievements/>
		</section>
	</main>
</Layout>	
