<footer class="w-full bg-neutral-800 h-44 flex justify-center items-center flex-col gap-2 text-center">
		<h5 class="font-semibold text-xl">Creado por Luis Eduardo Ocegueda Cortes ✨</h5>
        <h6>Sor Juana Inés de la Cruz</h6>
</footer>