<section class="flex items-center flex-wrap-reverse mt-20 justify-center gap-20 xl:gap-0 xl:justify-between xl:mt-28">
    <article class="space-y-4 text-center xl:text-left xl:space-y-6">
        <h1 class="font-semibold text-5xl">Sor Juana Inés de la Cruz</h1>
        <h2 class="text-3xl font-semibold">Escritora mexicana</h2>
        <h3 class="text-2xl">"Sin claridad no hay voz de sabiduría."</h3>
    </article>
    <article>
        <picture class="h-72 w-72 overflow-hidden">
            <img 
            src="./header.webp" 
            alt="Sor Juana Inés de la Cruz"
            class="h-72 w-72 object-cover object-center rounded-full
            xl:hover:scale-105 transition-transform duration-300"
            >
        </picture>
    </article>
</section>